body {
  background: #EAB5FB;
  color: #FFF;
  font-family: Roboto, Arial, sans-serif;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

a {
  color: #FFF;
}

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  .center-block();
  text-align: center;
  margin-top: 15%;
}

/* courtesy: http://charliepark.org/bootstrap_buttons/ */
.btn-custom-blue {
  background-color: hsl(188, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1ee1ff", endColorstr="#00b0cc");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#1ee1ff), to(#00b0cc));
  background-image: -moz-linear-gradient(top, #1ee1ff, #00b0cc);
  background-image: -ms-linear-gradient(top, #1ee1ff, #00b0cc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ee1ff), color-stop(100%, #00b0cc));
  background-image: -webkit-linear-gradient(top, #1ee1ff, #00b0cc);
  background-image: -o-linear-gradient(top, #1ee1ff, #00b0cc);
  background-image: linear-gradient(#1ee1ff, #00b0cc);
  border-color: #00b0cc #00b0cc hsl(188, 100%, 36%);
  color: #FFF !important;
  -webkit-font-smoothing: antialiased;
}

.btn-custom-purp {
  background-color: hsl(285, 91%, 81%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eab5fb", endColorstr="#e4a2fa");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eab5fb), to(#e4a2fa));
  background-image: -moz-linear-gradient(top, #eab5fb, #e4a2fa);
  rackground-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eab5fb), color-stop(100%, #e4a2fa));
  background-image: -webkit-linear-gradient(top, #eab5fb, #e4a2fa);
  background-image: -o-linear-gradient(top, #eab5fb, #e4a2fa);
  background-image: linear-gradient(#eab5fb, #e4a2fa);
  border-color: #e4a2fa #e4a2fa hsl(285, 91%, 80%);
  color: #FFF !important;
  -webkit-font-smoothing: antialiased;
}

.buttons {
  display: grid;
  max-width: 400px;
  margin: 0 auto;	
}

.form-control {
  border: none;
  border-radius: 25px;
  height: 40px;
}

.form-group * {
  max-width: 400px;
  margin: 0 auto;
}

.main {
  background-color: #FFF;
}

.navbar {
  align-items: center;
  background-color: #10CBE8;
  border-radius: 0px;
  display: flex;
  margin: 0;
}

.navbar ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  padding-left: 10%;
  text-align: center;
  width: 90%;
}

.navbar li {
  display: inline;
}

#cancelButton {
  color: #FFF;
}

#txtEmail {
  margin-bottom: 15px;
  margin-top: 15px;
}

#txtPassword {
  margin-bottom: 15px;
  margin-top: 15px;
}

#loginAlert {
  max-width: 400px;
  margin: 0 auto; 
}

#loginButton {
  border-radius: 5px;
  box-shadow: 0px 2px 5px #888888;
  font-size: 18px;
  font-weight: 800;
  height: 45px;
  margin-bottom: 15px;
}

#logo {
  font-size: 18px;
}

#logOutButton {
  background-color: #EF5350;
  height: 40px;
  float: right;
}

#logOutButton:hover {
  background-color: #E53935;
}

#navbar-ul li a {
  border-radius: 5px;
  font-size: 18px;
  font-weight: 800;
  height: 40px;
  margin: auto 2%;
}

#submitButton {
  border-radius: 5px;
  box-shadow: 0px 2px 5px #888888;
  font-size: 18px;
  font-weight: 800;
  height: 45px;
  margin-bottom: 15px;
}

#signUpButton {
  color: #FFF;
}

#topRight {
  align-items: center;
  display: flex;
  position: absolute;
  right: 10px;
}

#userEmail {
  float: right;
  margin-right: 10px;
}

